
body{
	margin: 0;
    padding: 0;
    background-color: #a4b1bd;
}

.page-content{
    width: 100%;
    background-color: #a4b1bd;
    position: relative;
    min-height: 100vh;
    background-image: url("../Images/back.jpg");
}

.logo-img{
    height: 100%;
    margin-top: 6%;
}

.right-nav{
	height: 100%;
	margin-block-start: 0;
    display: flex;
    justify-content: center;
    margin-top: -35px;
}

.main-header{
    font-style: oblique;
    font-size: 35px;
    color: lavenderblush;
}


.top-header{
	width: 100%;
	height: 100px;
	background-color: #2b3963;
	margin-top: -16px;
	position: fixed;
    top: 0;
    display: flex;
    z-index: 4;
}

.nav-content{
    width: 96%;
    height: 77%;
}

.left-nav{
	height: 78%;
	margin-block-start: 0;
	width: 10%;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

/* content */

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

.content > div {
    background-color: #f1f1f1;
    width: 360px;
    margin: 26px;
    text-align: center;
    line-height: 70px;
    border-radius: 20px;
}

.content-img{
    width: 24%;
    margin-top: -40%;
}

.content-title{
    line-height: 20px;
	overflow-wrap: break-word;
}

/* footer */
.footer {
    position: absolute;
    width: 100%;
    background-color: #2b3963;
    color: #fff;
    text-align: center;
    bottom: 0;
}

.fclass{
    padding: 12px;
    margin-block-end: 0;
    margin-block-start: 0;
}

.wrap-input{
    width: 40%;
    z-index: 1;
    float: left;
}

input.input-data{
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
}

.input-data{
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
}

input{
    border: none;
}

.input-text{
    display: flex;
    padding: 56px;
    justify-content: center;
    padding-bottom: 0;
    padding-top: 130px;
}

.container-create-quote-form-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.create-quote-form-btn{
    min-width: 270px;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition: all 0.4s;
    outline: none !important;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;

}

.create-quote-form-btn:hover {
    background: #333333;
}

.create-quote-form{
    width: 80%;
}

.create-quote-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}

.create-quote-form-btn i {
    margin-left: 7px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

@media only screen and (max-width:954px){
    .content{
        justify-content: center;
        padding-top: 0;
    }

    .content > div{
        width: 533px;
    }

    .content-img {
        width: 90px;
        margin-top: -140px;
    }

    .wrap-input {
        width: 100%;
        margin-left: -30px;
    }

    .create-quote-form-btn{
        margin-bottom:0;
        width: 100%;
    }

    .container-create-quote-form-btn{
       margin-top: 60px;
       width: 100%;
    }

    .input-text{
        padding-bottom: 20px;
    }
}